.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 400px;
    padding-bottom:20px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.full-width {
    width: 100%;
}

.half-width {
    flex: 1;
}
