<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      @for (item of menuItems; track item.name) {
        <a mat-list-item [routerLink]="item.route" (click)="sidenav.close()">{{ item.name | translate }}</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title | translate }}</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="langMenu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item (click)="switchLanguage('en')">English</button>
        <button mat-menu-item (click)="switchLanguage('zh')">中文</button>
        <button mat-menu-item (click)="switchLanguage('ar')">العربية</button>
      </mat-menu>
    </mat-toolbar>
    <div style="padding: 16px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>