<h2 mat-dialog-title>{{ title | translate }}</h2>
<mat-dialog-content>
  <div class="form-container">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ label | translate }}</mat-label>
      <input matInput [(ngModel)]="groupName" required>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'HOME.CLOSE' | translate }}</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!groupName">
    {{ (data?.value ? 'HOME.SAVE' : 'HOME.ADD') | translate }}
  </button>
</mat-dialog-actions>