.options-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
  padding-top: 8px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.custom-input {
  margin-top: 8px;
  margin-left: 32px;
}
