.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}
mat-card-header {
    display: flex;
    align-items: center;
    padding: 16px;
}

mat-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 16px 16px 16px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--border-color);
    min-height: 48px;
}

.setting-item.no-border {
    border-bottom: none;
}

.full-width {
    width: 90%;
}

.setting-item.clickable {
    cursor: pointer;
}

.value-container {
    display: flex;
    align-items: center;
    color: #888;
    gap: 8px;
}

.path-text {
    color: #888;
    font-size: 0.9em;
    text-align: right;
    word-break: break-all;
    max-width: 60%;
}

.action-container {
    padding: 10px 0;
}

.form-row {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.update-btn {
    width: 100%;
    height: 48px;
    font-size: 16px;
    background-color: #2196F3 !important; /* 强制蓝色 */
    color: white !important;
    border-radius: 4px;
}

.margin-top {
    margin-top: 20px;
}

mat-icon {
    color: #ccc;
}
