<div class="container info-grid">
    <mat-card class="card info-item">
        <mat-card-header>
            <mat-card-title>{{ 'HOME.ABOUT_APP' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div [ngClass]="isSmallScreen ? 'form-column' : 'form-row'">
                <div class="form-column" style="align-items: center;">
                    <h1> {{ 'mytv' | translate }}</h1>
                    <a href="https://github.com/mytv-android/mytv-android" target="_blank">https://github.com/mytv-android/mytv-android</a>
                    <img src="logo.svg" alt="App Logo" class="app-logo" />
                </div>
                <div class="info-grid">
                    <div class="info-item">
                        <span class="label">{{ 'HOME.APP_ID' | translate }}</span>
                        <span class="value">{{ info.applicationId }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label">{{ 'HOME.VERSION' | translate }}</span>
                        <span class="value">{{ info.versionName }} ({{ info.buildType }})</span>
                    </div>
                    <div class="info-item">
                        <span class="label">{{ 'HOME.DEVICE_NAME' | translate }}</span>
                        <span class="value">{{ info.deviceName }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label">{{ 'HOME.DEVICE_ID' | translate }}</span>
                        <span class="value">{{ info.deviceId }}</span>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <!-- 订阅源 -->
    <mat-card class="card info-item">
        <mat-card-header>
            <mat-card-title>{{ 'HOME.SUBSCRIPTION_SOURCE' | translate }}</mat-card-title>
            <mat-card-subtitle>
                {{ 'HOME.SUBSCRIPTION_SUBTITLE' | translate }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="form-row">
                <label>{{ 'HOME.TYPE' | translate }}</label>
                <mat-button-toggle-group [(ngModel)]="subscription.type" [vertical]="isSmallScreen">
                    <mat-button-toggle value="remote">{{ 'HOME.REMOTE' | translate }}</mat-button-toggle>
                    <mat-button-toggle value="xtream">{{ 'HOME.XTREAM' | translate }}</mat-button-toggle>
                    <mat-button-toggle value="file">{{ 'HOME.FILE' | translate }}</mat-button-toggle>
                    <mat-button-toggle value="content">{{ 'HOME.CONTENT' | translate }}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ 'HOME.NAME' | translate }}</mat-label>
                    <input matInput [(ngModel)]="subscription.name" placeholder="{{ 'HOME.NAME' | translate }}">
                </mat-form-field>
            </div>

            <div *ngIf="subscription.type === 'remote' || subscription.type === 'xtream'" class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ 'HOME.LINK' | translate }}</mat-label>
                    <input matInput [(ngModel)]="subscription.url" placeholder="{{ 'HOME.LINK' | translate }}">
                </mat-form-field>
            </div>

            <div *ngIf="subscription.type === 'file'" class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ 'HOME.FILE_PATH' | translate }}</mat-label>
                    <input matInput [(ngModel)]="subscription.url" placeholder="{{ 'HOME.FILE_PATH' | translate }}">
                </mat-form-field>
            </div>

            <div *ngIf="subscription.type === 'content'" class="form-row">
                <app-textarea-with-lines class="full-width" [(ngModel)]="subscription.url" [rows]="5" label="{{ 'HOME.CONTENT_LABEL' | translate }}"></app-textarea-with-lines>
            </div>

            <div *ngIf="subscription.type === 'xtream'" class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ 'HOME.USERNAME' | translate }}</mat-label>
                    <input matInput [(ngModel)]="subscription.userName" placeholder="{{ 'HOME.USERNAME' | translate }}">
                </mat-form-field>
            </div>

            <div *ngIf="subscription.type === 'xtream'" class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ 'HOME.PASSWORD' | translate }}</mat-label>
                    <input matInput [(ngModel)]="subscription.password" placeholder="{{ 'HOME.PASSWORD' | translate }}">
                </mat-form-field>
            </div>

            <div *ngIf="subscription.type === 'xtream'" class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ 'HOME.OUTPUT_TYPE' | translate }}</mat-label>
                    <mat-select [(ngModel)]="subscription.format">
                        <mat-option value="m3u">m3u</mat-option>
                        <mat-option value="m3u_plus">m3u_plus</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ 'HOME.USER_AGENT' | translate }}</mat-label>
                    <input matInput [(ngModel)]="subscription.ua" placeholder="{{ 'HOME.USER_AGENT' | translate }}">
                </mat-form-field>
            </div>

        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="pushSubscription()">{{ 'HOME.PUSH_SUBSCRIPTION' | translate }}</button>
        </mat-card-actions>
    </mat-card>

    <!-- 网页源央视频Cookie -->
    <mat-card class="card info-item">
        <mat-card-header>
            <mat-card-title>{{ 'HOME.YANGSHIPIN_COOKIE' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'HOME.YANGSHIPIN_SUBTITLE' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline" class="full-width">
                <input matInput [(ngModel)]="configs.iptvHybridYangshipinCookie">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="updateConfig()">{{ 'HOME.PUSH' | translate }}</button>
        </mat-card-actions>
    </mat-card>

    <!-- 频道图标提供 -->
    <mat-card class="card info-item">
        <mat-card-header>
            <mat-card-title>{{ 'HOME.CHANNEL_ICON_PROVIDER' | translate }}</mat-card-title>
            <mat-card-subtitle>
                {{ 'HOME.CHANNEL_ICON_SUBTITLE' | translate }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline" class="full-width">
                <input matInput [(ngModel)]="configs.iptvChannelLogoProvider">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="updateConfig()">{{ 'HOME.PUSH' | translate }}</button>
        </mat-card-actions>
    </mat-card>

    <!-- 频道别名 -->
    <mat-card class="card info-item">
        <mat-card-header>
            <mat-card-title>{{ 'HOME.CHANNEL_ALIAS' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-textarea-with-lines class="full-width" [(ngModel)]="channelAlias" [rows]="10"
                    placeholder="{{channelAliasExample}}"></app-textarea-with-lines>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="pushAlias()">{{ 'HOME.PUSH' | translate }}</button>
        </mat-card-actions>
    </mat-card>

    <!-- 节目单 -->
    <mat-card class="card info-item">
        <mat-card-header>
            <mat-card-title>{{ 'HOME.CUSTOM_EPG' | translate }}</mat-card-title>
            <mat-card-subtitle>
                {{ 'HOME.EPG_SUBTITLE' | translate }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="form-row">
                <label>{{ 'HOME.NAME' | translate }}</label>
            </div>
            <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                    <input matInput [(ngModel)]="epgSource.name" placeholder="添加于2025-11-20 18:48:43">
                </mat-form-field>
            </div>
            <div class="form-row">
                <label>{{ 'HOME.LINK' | translate }}</label>
            </div>
            <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                    <input matInput [(ngModel)]="epgSource.url" placeholder="{{ 'HOME.EPG_LINK' | translate }}">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="pushEpgSource()">{{ 'HOME.PUSH_EPG' | translate }}</button>
        </mat-card-actions>
    </mat-card>

    <!-- 播放器 -->
    <mat-card class="card info-item">
        <mat-card-header>
            <mat-card-title>{{ 'HOME.PLAYER_GLOBAL_SETTINGS' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-row">
                <label>{{ 'HOME.USER_AGENT' | translate }}</label>
            </div>
            <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                    <input matInput [(ngModel)]="configs.videoPlayerUserAgent" placeholder="Pixel 4">
                </mat-form-field>
            </div>
            <div class="form-row" style="justify-content: flex-end; display: flex;">
                <button mat-raised-button color="primary" (click)="updateConfig()">{{ 'HOME.PUSH' | translate }}</button>
            </div>

            <div class="form-row">
                <label>{{ 'HOME.CUSTOM_HEADERS' | translate }}</label>
            </div>
            <div class="form-row">
                <app-textarea-with-lines class="full-width" [(ngModel)]="configs.videoPlayerHeaders" [rows]="3"
                        placeholder="Header-Name-1: Header-Value-1&#10;Header-Name-2: Header-Value-2"></app-textarea-with-lines>
            </div>
            <div class="form-row" style="justify-content: flex-end; display: flex;">
                <button mat-raised-button color="primary" (click)="updateConfig()">{{ 'HOME.PUSH' | translate }}</button>
            </div>
        </mat-card-content>
    </mat-card>

    <!-- 云同步 -->
    <mat-card class="card info-item">
        <mat-card-header>
            <mat-card-title>{{ 'HOME.CLOUD_SYNC' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-row">
                <label>{{ 'HOME.PROVIDER' | translate }}</label>
                <mat-button-toggle-group [(ngModel)]="configs.cloudSyncProvider" [vertical]="isSmallScreen">
                    <mat-button-toggle [value]="cloudSyncProvider.GITHUB_GIST">{{ 'HOME.GITHUB_GIST' | translate }}</mat-button-toggle>
                    <mat-button-toggle [value]="cloudSyncProvider.GITEE_GIST">{{ 'HOME.GITEE_GIST' | translate }}</mat-button-toggle>
                    <mat-button-toggle [value]="cloudSyncProvider.NETWORK_URL">{{ 'HOME.NETWORK_URL' | translate }}</mat-button-toggle>
                    <mat-button-toggle [value]="cloudSyncProvider.LOCAL_FILE">{{ 'HOME.LOCAL_FILE' | translate }}</mat-button-toggle>
                    <mat-button-toggle [value]="cloudSyncProvider.WEBDAV">{{ 'HOME.WEBDAV' | translate }}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div *ngIf="configs.cloudSyncProvider === cloudSyncProvider.GITHUB_GIST">
                <div class="form-row">
                    <label>{{ 'HOME.GITHUB_GIST_ID' | translate }}</label>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput [(ngModel)]="configs.cloudSyncGithubGistId"
                            placeholder="{{ 'HOME.GITHUB_GIST_ID' | translate }}">
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <label>{{ 'HOME.GITHUB_GIST_TOKEN' | translate }}</label>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput [(ngModel)]="configs.cloudSyncGithubGistToken"
                            placeholder="{{ 'HOME.GITHUB_GIST_TOKEN' | translate }}">
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="configs.cloudSyncProvider === cloudSyncProvider.GITEE_GIST">
                <div class="form-row">
                    <label>{{ 'HOME.GITEE_GIST_ID' | translate }}</label>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput [(ngModel)]="configs.cloudSyncGiteeGistId"
                            placeholder="{{ 'HOME.GITEE_GIST_ID' | translate }}">
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <label>{{ 'HOME.GITEE_GIST_TOKEN' | translate }}</label>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput [(ngModel)]="configs.cloudSyncGiteeGistToken"
                            placeholder="{{ 'HOME.GITEE_GIST_TOKEN' | translate }}">
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="configs.cloudSyncProvider === cloudSyncProvider.NETWORK_URL">
                <div class="form-row">
                    <label>{{ 'HOME.NETWORK_URL' | translate }}</label>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput [(ngModel)]="configs.cloudSyncNetworkUrl"
                            placeholder="https://example.com/sync">
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="configs.cloudSyncProvider === cloudSyncProvider.LOCAL_FILE">
                <div class="form-row">
                    <label>{{ 'HOME.LOCAL_FILE_PATH' | translate }}</label>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput [(ngModel)]="configs.cloudSyncLocalFilePath"
                            placeholder="file:///storage/emulated/0/Download/">
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="configs.cloudSyncProvider === cloudSyncProvider.WEBDAV">
                <div class="form-row">
                    <label>{{ 'HOME.WEBDAV_URL' | translate }}</label>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput [(ngModel)]="configs.cloudSyncWebDavUrl"
                            placeholder="https://webdav.example.com/remote.php/dav/files/username/">
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <label>{{ 'HOME.WEBDAV_USERNAME' | translate }}</label>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput [(ngModel)]="configs.cloudSyncWebDavUsername"
                            placeholder="{{ 'HOME.USERNAME' | translate }}">
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <label>{{ 'HOME.WEBDAV_PASSWORD' | translate }}</label>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput [(ngModel)]="configs.cloudSyncWebDavPassword"
                            placeholder="{{ 'HOME.PASSWORD' | translate }}">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="updateConfig()">{{ 'HOME.PUSH' | translate }}</button>
        </mat-card-actions>
    </mat-card>

    <!-- 上传APK -->
    <mat-card class="card info-item">
        <mat-card-header>
            <mat-card-title>{{ 'HOME.INSTALL_APK' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'HOME.UPLOAD_APK_SUBTITLE' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="form-row">
                <input type="file" #fileInput (change)="onFileSelected($event)" accept=".apk" style="display: none;">
                <button mat-stroked-button (click)="fileInput.click()">{{ 'HOME.SELECT_APK' | translate }}</button>
                <span style="margin-left: 10px;">{{ selectedFileName || ('HOME.NO_FILE_SELECTED' | translate) }}</span>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" [disabled]="!selectedFile" (click)="uploadApk()">{{ 'HOME.UPLOAD_AND_INSTALL' | translate }}</button>
        </mat-card-actions>
    </mat-card>
    
</div>