<h2 mat-dialog-title>{{ 'EPG.CUSTOM_EPG' | translate }}</h2>
<mat-dialog-content>
  <div class="list-container" cdkDropList (cdkDropListDropped)="drop($event)">
    @for (source of sources; track source; let i = $index) {
      <div class="list-item" cdkDrag>
        <div class="drag-handle" cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </div>
        <div class="item-radio">
          <mat-radio-button [checked]="isCurrent(source)" (click)="setCurrent(source)"></mat-radio-button>
        </div>
        <div class="item-content">
          <div class="item-name">{{ source.name }}</div>
          <div class="item-url">{{ source.url }}</div>
        </div>
        <div class="item-actions">
          <button mat-icon-button (click)="editSource(i, source)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteSource(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    }
    @if (sources.length === 0) {
      <div class="empty-state">
        {{ 'LOG.NO_DATA' | translate }}
      </div>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="addSource()">
    <mat-icon>add</mat-icon>
    {{ 'HOME.PUSH' | translate }}
  </button>
  <span class="spacer"></span>
  <button mat-button (click)="onCancel()">{{ 'HOME.CLOSE' | translate }}</button>
  <button mat-flat-button color="primary" (click)="onSave()">{{ 'SYNC.UPDATE' | translate }}</button>
</mat-dialog-actions>
